<div class="container mt-5 text-center">
  <h2 class="pt-5">Login - Aluno</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :Email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :Senha %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :Lembrar %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Logar", class:"btn btn-success" %>
    </div>
  <% end %>

  <%= render "students/shared/links" %>
</div>