<div class="container mt-5">
    <h1 class="text-center pt-5">Livros para Empréstimo</h1>
    <div class="row">
        <% for book in @books do %>
            <% for loan in @loan do %>
                <% if loan.book_id == book.id %>
                    <% @loan_made = true %>
                <% else %>
                    <% @loan_made = false %>
                <% end %>
            <% end %>
            <% if @loan_made == false %>
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <%= image_tag book.url_image, width: 30, height: 300,  class:"card-img-top" %>
                        <div class="card-body">
                            <h5 class="card-title"><%= book.book_name %></h5>
                            <%#<%= button_to "New", loans_path, params: { student_id: current_student.id, book_id: book.id  } %>
                            <%= link_to 'Emprestimo', new_loan_path(book), class:"btn btn-success text-white" %>
                            <%= link_to 'Detalhes', "/show_book/show/#{book.id}", class:"btn btn-success text-white" %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="text-center">
        <%= paginate @books %>
    </div>
</div>