<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :Nome %>
    <%= form.text_field :book_name %>
  </div>

  <div class="field mt-2">
    <%= form.label :Descrição %>
    <%= form.text_field :description %>
  </div>

  <div class="fieldl mt-2">
    <%= form.label :Imagem %>
    <%= form.text_field :url_image %>
  </div>

  <div class="field mt-2">
    <%= form.label :Nota %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions mt-2">
    <%= form.submit %>
  </div>
<% end %>
