<div class="container mt-5 py-5">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @book.book_name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @book.description %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <%= image_tag @book.url_image, width: 80, height: 100 %>
  </p>

  <% if admin_signed_in?  %>
    <%= link_to 'Editar', edit_book_path(@book), class:"btn btn-warning text-white" %> |
    <%= link_to 'Voltar', books_path, class:"btn btn-primary text-white" %>
  <% end %>
  <% if student_signed_in?  %>
    <%= link_to 'Emprestimo', books_available_index_path, class:"btn btn-success text-white" %> |
    <%= link_to 'Voltar', books_available_index_path, class:"btn btn-primary text-white" %>
  <% end %>  
</div>