<!DOCTYPE html>
<html>
  <head>
    <title>Digital Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= image_tag "logo.png", width: 50, height: 50, class:"mx-3 bg-light rounded-circle" %><%= link_to 'Digital Book', welcome_index_path, class:"nav-link text-white" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex flex-row-reverse mx-3" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if student_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Livros disponiveis', books_available_index_path, class:"nav-link text-white" %>
            </li>
          <% end %>       
          <% if student_signed_in? or admin_signed_in?  %>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Perfil</a>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'Sobre', about_index_path, class:"nav-link text-white" %>
          </li>
          <% if admin_signed_in?  %>
            <li class="nav-item">
              <%= link_to 'Editar livros (Admin)', books_path, class:"nav-link text-white" %>
            </li>
          <% end %>
          <% if student_signed_in? or admin_signed_in?  %>
            <li class="nav-item btn-l btn-danger rounded">
              <%= link_to 'Sair', destroy_admin_session_path, method: :delete, class:"nav-link text-white" %>
            </li>
          <% else %>
            <li class="nav-item btn-l btn-success rounded">
              <%= link_to 'Login', student_session_path, class:"nav-link text-white" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
