<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Library</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex flex-row-reverse mx-3" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Livros disponiveis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Sobre</a>
          </li>
          <li class="nav-item btn-l btn-danger rounded">
            <a class="nav-link text-white" href="#">Sair</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer class="bg-dark fixed-bottom footer mt-auto py-3">
      <div class="container text-center">
        <section class="mb-1">
          <!-- Facebook -->
          <a class="btn btn-info btn-floating m-1 text-white" href="https://www.facebook.com/weverton.alves.357" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a class="btn btn-info btn-floating m-1 text-white" href="https://twitter.com/alves_wevertonn" role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Instagram -->
          <a class="btn btn-danger btn-floating m-1 text-white" href="https://www.instagram.com/alves_wevertonn/" role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a class="btn btn-info btn-floating m-1 text-white" href="https://www.linkedin.com/in/weverton-pereira-alves-15b547213/" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <!-- Github -->
          <a class="btn btn-light btn-floating m-1 text-dark" href="https://github.com/Weverton-profile" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <span class="text-white">© 2022 developed by: Weverton Pereira Alves</span>
      </div>
    </footer>
  </body>
</html>
